src/main/mule/interoperabilityproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="92688bac-57ea-4f18-b325-17087020bc9d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="fe65c5f2-21df-4496-8189-d2d9c93e67fa" >
		<http:request-connection host="localhost" port="5152" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="a9ccd1c3-4f5f-42bd-8e54-e67cd09e209b" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="5bcfea53-59a8-4be0-82c3-62e4681b8510" >
		<http:request-connection host="localhost" port="5152" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="aff0bfcc-e1a0-404a-b979-66426816fba3" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration2" doc:name="HTTP Request configuration" doc:id="3d247d94-bcd6-4aa9-b9cf-59a9e9fc9989" >
		<http:request-connection host="localhost" port="5152" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config3" doc:name="HTTP Listener config" doc:id="9bbfa500-4e35-48e8-91b7-2b6412129ccf" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration3" doc:name="HTTP Request configuration" doc:id="7a854402-f858-48bf-b6a9-f22b5df9b68e" >
		<http:request-connection host="localhost" port="5152" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration4" doc:name="HTTP Request configuration" doc:id="cfa2a4be-c6eb-4873-9a48-08462b2acc1e" >
		<http:request-connection host="localhost" port="5152" />
	</http:request-config>
	<amqp:config name="AMQP_Config" doc:name="AMQP Config" doc:id="392a6bd0-cfa0-4ef8-9db7-c0f4a0773884" >
		<amqp:connection host="localhost" password="guest" username="guest"/>
	</amqp:config>
	<amqp:config name="AMQP_Config1" doc:name="AMQP Config" doc:id="c3965191-78d3-4b2e-a5c9-71f965489bc2" >
		<amqp:connection host="localhost" port="15672" username="guest" password="guest" />
	</amqp:config>
	<flow name="GET" doc:id="df6ee0e7-7464-48ea-9e04-0d9086880784" >
		<http:listener doc:name="Listener" doc:id="fbbed24e-250c-4cf7-a60d-6167ad40bc5e" config-ref="HTTP_Listener_config" path="/api/Players"/>
		<http:request method="GET" doc:name="Request" doc:id="9887130b-1d4e-40da-9c24-b5b0d71cd733" config-ref="HTTP_Request_configuration" path="/api/Players"/>
		<file:write doc:name="Write" doc:id="604c2e90-3f24-4522-b86d-f9cb26310366" path="/Users/martinnovak/Desktop/faks/interoperabilityproject/CRUD/get-players.txt"/>
	</flow>
	<flow name="POST" doc:id="5fcd438c-6d58-4721-abee-c7b4bbd092d6" >
		<http:listener doc:name="Listener" doc:id="ad0fe631-3e82-43c1-a967-658c6144cfb6" config-ref="HTTP_Listener_config1" path="/api/Players"/>
		<set-payload value="#[message.payload]" doc:name="Set Payload" doc:id="e6b707b4-8561-48be-9d77-16e759a47a69" />
		<http:request method="POST" doc:name="Request" doc:id="3b73a7ec-9478-4e99-80e4-242ea49ed93d" config-ref="HTTP_Request_configuration1" path="/api/Players">
		</http:request>
		<file:write doc:name="Write" doc:id="2add4afb-2547-4442-ac75-83e8e3f522d3" path="/Users/martinnovak/Desktop/faks/interoperabilityproject/CRUD/post-players.txt"/>
	</flow>
	<flow name="UPDATE" doc:id="70df176b-0277-45b2-8f55-661e8199646d" >
		<http:listener doc:name="Listener" doc:id="7299cc1a-8fdb-4158-aa09-979870c18ca3" config-ref="HTTP_Listener_config2" path="/api/Players/{id}"/>
		<set-variable doc:name="Set Variable" doc:id="7d266b61-eabe-4a73-bfa2-9e59a09f9903" variableName="id" value="#[message.attributes.uriParams['id']]"/>
		<set-payload value="#[message.payload]" doc:name="Set Payload" doc:id="3ffa14c9-557c-4f54-99d2-5db20ac5b660" />
		<http:request method="PUT" doc:name="Request" doc:id="15e1d3b4-abc0-404e-8bdb-8c99306fc81f" config-ref="HTTP_Request_configuration2" url='#["http://localhost:5152/api/players/$(vars.id)"]'>
		</http:request>
		<file:write doc:name="Write" doc:id="c2789a46-e782-4a59-9196-fa0d8990dc26" path="/Users/martinnovak/Desktop/faks/interoperabilityproject/CRUD/update-player.txt">
			<file:content ><![CDATA[#["Player with id $(vars.id) was updated"]]]></file:content>
		</file:write>
	</flow>
	<flow name="DELETE" doc:id="3ef37651-29ce-4eb4-9014-766e930f6413" >
		<http:listener doc:name="Listener" doc:id="6a3b873e-dc98-4871-8040-94e51bb7a01a" config-ref="HTTP_Listener_config3" path="/api/Players/{id}"/>
		<set-variable value="#[message.attributes.uriParams['id']]" doc:name="Set Variable" doc:id="ee2dce7d-c6b7-4ae5-99a1-c66ecafb3c45" variableName="id"/>
		<http:request method="DELETE" doc:name="Request" doc:id="d2fd8bfa-7ce8-4be7-b9e8-b4a3aa12f64f" config-ref="HTTP_Request_configuration4" url='#["http://localhost:5152/api/players/$(vars.id)"]'/>
		<file:write doc:name="Write" doc:id="f53e986b-69b5-4311-be0b-ce429ecf460e" path="/Users/martinnovak/Desktop/faks/interoperabilityproject/CRUD/delete-player.txt">
			<file:content ><![CDATA[#["Player with id $(vars.id) deleted"]]]></file:content>
		</file:write>
	</flow>
	<flow name="Rabbit-MQ" doc:id="e34052c0-b3f1-4c2e-8905-b692871bde6b" >
		<amqp:listener doc:name="Listener" doc:id="87f69001-e2e1-4451-aa93-5312d3ad4eb7" config-ref="AMQP_Config" queueName="players"/>
		<file:write doc:name="Write" doc:id="71e322b4-15e1-4518-8609-486e15ca3e7f" path="/Users/martinnovak/Desktop/faks/interoperabilityproject/Rabbit-MQ/messages.txt"/>
	</flow>
</mule>
